<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Щоденик астрофотографій | Asteria Space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="Title">
        <h1>Asteria Space</h1>
        <h2>Цікаві астрономічні факти</h2>
    </div>

    <div class=>
    <button onclick="loadFacts('nearest')">Спочатку найближчі</button>
    <button onclick="loadFacts('farthest')">Спочатку найвіддаленіші</button>
    </div>
    <div id="facts-container"> 
        
    </div> 
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>