<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Щоденик астрофотографій | Asteria Space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="Title">
        <h1>Asteria Space</h1>
        <h2>Цікаві астрономічні факти</h2>
    </div>

    <div class="controls">
        <a href="/facts?sort=nearest&max_dist={{ current_max_dist or '' }}">Найближчі</a> | 
        <a href="/facts?sort=farthest&max_dist={{ current_max_dist or '' }}">Найвіддаленіші</a> | 
        <a href="/facts?sort=newest&max_dist={{ current_max_dist or '' }}">Останні додані</a>
    </div>

    <div class="filter-controls">
        <form action="/facts" method="get">
            <label for="max_dist">Показати об'єкти до (св. р.):</label>
            <input type="number" name="max_dist" value="{{ current_max_dist or 50000 }}">
            <input type="hidden" name="sort" value="{{ current_sort }}">
            <button type="submit">Застосувати фільтр (Stream)</button>
        </form>
    </div>

    <table>
        {% for fact in all_facts %}
        <tr>
            <td>{{ fact.name }}</td>
            <td>{{ fact.distance }} св. р.</td>
            <td>{{ fact.info }}</td>
        </tr>
        {% endfor %}
    </table>
    
    </body>
</html>