<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Щоденик астрофотографій | Asteria Space</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="Title">
        <h1>Asteria Space</h1>
        <h2>Цікаві астрономічні факти</h2>
    </div>

    <div class="controls">
        <a href="/facts?sort=nearest">Найближчі</a> | 
        <a href="/facts?sort=farthest">Найвіддаленіші</a> | 
        <a href="/facts?sort=newest">Останні додані</a>
    </div>

    <table>
        {% for fact in all_facts %}
        <tr>
            <td>{{ fact.name }}</td>
            <td>{{ fact.distance }} св. р.</td>
            <td>{{ fact.info }}</td>
        </tr>
        {% endfor %}
    </table>
    
    </body>
</html>