<!DOCTYPE html>
<html>
<head>
    <title>Solar 3D & Fibonacci</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "Title">
        <h1>Asteria Space</h1>
    </div>
    <div class= "mainText">
        <h2>Under the cover of Asteria, amidst the glow of distant worlds, we greet you {{user}}. Are you ready to embark on a journey through time and matter? Then choose your further path</h2>
    </div>

    <a href="/logout">
        <button>Logout</button>
    </a>

    <div class="container">
        <div class="photo-item">
            <div class="photo">
                <img src="{{ url_for('static', filename='image/Solar system.jpg') }}" alt="solar3d">
            </div>
            <a href="{{ url_for('solar') }}"> 
                <button class="button">Go to 3D solar system</button>
            </a> 
        </div>

        <div class="photo-item">
            <div class="photo">
                <img src="{{ url_for('static', filename='image/calcus 2.jpg') }}" alt="astro calcus">
            </div>
            <a href="{{ url_for('calcus_bp.calcus') }}">
                <button class="button">Go to Calcus</button>
             </a> 
        </div>

         <div class="photo-item">
            <div class="photo">
                <img src="{{ url_for('static', filename='image/observation2.jpg') }}" alt="astro calcus">
            </div>
            <a href="{{ url_for('facts_bp.facts_page') }}">
                <button class="button">Go to Space Facts</button>
             </a> 
        </div>

        <div class="photo-item">
            <div class="photo">
                <img src="{{ url_for('static', filename='image/ISS2.jpg') }}" alt="astro calcus">
            </div>
            <a href="{{ url_for('iss') }}">
                <button class="button">Go to ISS tracking</button>
             </a> 
        </div>
    </div>
</body>
</html>