<!DOCTYPE html>
<html>
<head>
    <title>Solar 3D & Fibonacci</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>
<body>
    <div class = "Title">
        <h1>Asteria Space</h1>
        <h1>Центр відслідковування за ISS</h1>
    </div>
    <div class="container">
        <div class="card">
            <h3> Поточне місце</h3>
            <p>Широта:  <span id="lat" class="val">...</span></p>
            <p>Довгота: <span id="lon" class="val">...</span></p>
        </div>
        <div class="card">
            <h3>Екіпаж на борту</h3>
            <p>Зараз у космосі:</p>
            <span id="count" class="val">...</span>
        </div>
    </div>

    <script>
        function fetchIssData(signal, callback) {
            const timeoutId = setTimeout(() => {
                cleanup();
                callback(new Error("TimeoutError"), null);
            }, 5000);

            const cleanup = () => {
                clearTimeout(timeoutId);
                signal.removeEventListener('abort');
            };

            const onAbort = () => {
                cleanup();
                callback(new Error("AbortError"), null);
            };

            signal.addEventListener('abort', onAbort);

            fetch('/api/iss-live', { signal })
            .then(res => res.json())
            .then(data => {
                cleanup();
                callback(null, data);
            })
            .catch(err => {
                cleanup();
                if (err.name !== 'AbortError') callback(err, null);
            });
        }
        const mainController = new AbortController();

        async function updateData() {
            const getDataPromise = () => {
                return new Promise((resolve, reject) => {
                    fetchIssData(mainController.signal, (err, data) => {
                        if (err) reject(err);
                        else resolve(data);
                    });
                });
            };
            try {
                const data = await getDataPromise();
                document.getElementById('lat').innerText = data.location.iss_position.latitude;
                document.getElementById('lon').innerText = data.location.iss_position.longitude;
                document.getElementById('count').innerText = data.crew.number;
            } catch (error) {
                if (error.message === "AbortError") {
                    console.log("Запит скасовано");
                } else {
                    console.error("Помилка отримання даних:", error);
                }
        }
    }
    let issTimer = setInterval(updateData, 3000); 
    window.addEventListener('beforeunload', () => {
    clearInterval(issTimer); 
    mainController.abort();
    console.log("Моніторинг зупинено, ресурси очищено");
});
    </script>

</body>
</html>