<!DOCTYPE html>
<html>
<head>
    <title>Solar 3D & Fibonacci</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "Title">
        <h1>Asteria Space</h1>
        <h1>Центр відслідковування за ISS</h1>
    </div>
    <div class="container">
        <h2>Координати</h2>
            {% if location %}
                <p>Широта: {{location.iss_position.latitude}}</p>
                <p>Довгота: {{location.iss_position.longitude}}</p>
            {% else %}
                <p>Помилка завантаження координат</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
