<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='solar.css') }}">
     <style>
        #gui-container {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
        }
    </style>
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/",
      "dat.gui": "https://cdn.skypack.dev/dat.gui"
    }
  }
</script>
</head>
<body>
    <a href="{{ url_for('menu') }}" class="back-button">Повернутися в меню</a>
    <div id="gui-container"></div>
    <div>
        <script type="module" src="{{ url_for('static', filename='solar.js') }}"></script>
    </div>
    <div id="planetInfo" class="planet-info">
        <div class="planet-info-content">
            <span class="close-btn" onclick="closeInfo()">&times;</span>
            <h2 id="planetName"></h2>
            <p id="planetDetails"></p>
        </div>
    </div>
</body>
</html>