body {
    margin: 0;
    overflow: hidden; 
    background-color: #000;
}

canvas {
    position: fixed; 
    top: 0;
    left: 0;
    outline: none;
    z-index: 1; 
    display: block;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 25px;
    background: rgba(138, 43, 226, 0.3); 
    color: #e0b0ff; 
    text-decoration: none;
    border: 2px solid #8a2be2;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    z-index: 100; 
    transition: all 0.3s ease;
}

.back-button:hover {
    background: #8a2be2; 
    color: white;
    box-shadow: 0 0 15px rgba(138, 43, 226, 0.6);
}

.planet-info {
    display: none; 
    position: absolute;
    top: 50%;
    left: 20px; 
    transform: translateY(-50%);
    background: rgba(230, 230, 240, 0.95); 
    color: #1a1a2e; 
    border: 2px solid #8a2be2; 
    border-radius: 15px;
    width: 320px;
    z-index: 100; 
    font-family: sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Текст всередині вікна */
.planet-info h2 {
    color: #4b0082; 
    margin-top: 0;
}

.planet-info b {
    color: #8a2be2;
}

.close-btn {
    float: right;
    cursor: pointer;
    font-size: 28px;
    color: #4b0082;
    line-height: 20px;
}

.close-btn:hover {
    color: #ff0000;
}
