 body {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: rgb(169, 159, 239);
    align-items: center;
    gap: 20px;
}

.Title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid white;
    width: 100%;
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 40px;
    margin: 50px auto 20px auto;
    margin-top: -10px;
}

.mainText {
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.photo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(98, 16, 250);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.photo-item {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 15px;          
}

.button {
    border: none;
    border-radius: 25px;
    margin-top: 10px;       
    padding: 10px 20px;
    cursor: pointer;
    color: #4b0082;
    transition: background-color 0.3s ease;
    background-color: #e0b0ff;
}

.button:hover {
    background-color: #d190ff; 
}